.w-10 {
    width: 10%;
}
.w-12 {
    width: 12%;
}
.w-15 {
    width: 15%;
}
.w-20 {
    width: 20%;
}
.w-80 {
    width: 80%;
}

.card {
    position: absolute;
    /* width や height はjsでいじる */
}

.card_img {
    -webkit-user-drag: none;
    position: relative;
    /* width や height はjsでいじる */
}

.deck {
    position: absolute;
}

.modal {
    padding: 16px;
    overflow-x: scroll;
}
.modal_card {
    margin: 0px 5px;
    width: 90px;
    height: 125.72px;
}